html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.content-editor img {
  width: auto;
  max-width: 100%;
  height: auto;
}

img[src*=svg] {
  width: 100%\9;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=svg] {
    width: 100%;
  }
}

.horizontal-scroll-menu:before, .content-editor:before, .horizontal-scroll-menu:after, .content-editor:after {
  content: ' ';
  display: table;
}

.horizontal-scroll-menu:after, .content-editor:after {
  clear: both;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.xdebug-var-dump {
  background: white !important;
  color: black !important;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.625;
  color: #333333;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  position: relative;
  width: 91.4666666667%;
  margin: 0 4.2666666667%;
}

@media screen and (min-width: 79.365em) {
  .wrapper {
    width: 73.125em;
    margin: 0 auto;
  }
}

.link {
  box-shadow: 0 0 0 0 #0088cc;
  color: #0088cc;
  text-decoration: none;
  -webkit-transition: color 0.1s ease, box-shadow 0.1s ease;
  transition: color 0.1s ease, box-shadow 0.1s ease;
}

.link:hover, .link:focus {
  color: #005f8f;
  box-shadow: 0 1px 0 0 #005f8f;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.page-headline {
  font-size: 1.5rem;
}

@media (min-width: 20em) and (max-width: 73.125em) {
  .page-headline {
    font-size: calc(1.5rem + (2.625 - 1.5) * (100vw - 20rem) / (73.125 - 20));
  }
}

@media (min-width: 73.125em) {
  .page-headline {
    font-size: 2.625rem;
  }
}

.main-header {
  background-color: rgba(255, 255, 255, 0.8);
}

.sticky-footer-push {
  min-height: 100%;
  padding-bottom: 54px;
}

.main-footer {
  height: 54px;
  margin-top: -54px;
}

.main-footer {
  padding: 16px 0;
  background-color: #d6d6d6;
}

@-webkit-keyframes slidein-animation {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateX(160px);
    transform: translateX(160px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slidein-animation {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateX(160px);
    transform: translateX(160px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.horizontal-scroll-menu {
  overflow: hidden;
  height: 44px;
  padding: 4px 0;
}

.horizontal-scroll-menu .horizontal-scroll-menu-items {
  width: 100%;
  font-size: 0.1px;
  white-space: nowrap;
  padding-bottom: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-overflow-scrolling: touch;
}

.horizontal-scroll-menu .horizontal-scroll-menu-items > .horizontal-scroll-menu-item {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 0 5px;
  -webkit-animation-name: slidein-animation;
  animation-name: slidein-animation;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.horizontal-scroll-menu .horizontal-scroll-menu-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 10px 5px;
}

.content-editor > * + * {
  margin-top: 1.625em;
}

.content-editor h1,
.content-editor h2,
.content-editor h3,
.content-editor h4,
.content-editor h5,
.content-editor h6 {
  line-height: 1.1;
}

.content-editor h1 + *,
.content-editor h2 + *,
.content-editor h3 + *,
.content-editor h4 + *,
.content-editor h5 + *,
.content-editor h6 + * {
  margin-top: 0.8125em;
}

.content-editor h1 {
  font-size: 2.625em;
}

.content-editor h2 {
  font-size: 1.625em;
}

.content-editor h3 {
  font-size: 1.25em;
}

.content-editor h4,
.content-editor h5 {
  font-size: 1em;
}

.content-editor h6 {
  font-size: 0.8125em;
}

.content-editor .video-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.content-editor .video-embed iframe,
.content-editor .video-embed object,
.content-editor .video-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-editor a {
  box-shadow: 0 0 0 0 #0088cc;
  color: #0088cc;
  text-decoration: none;
  -webkit-transition: color 0.1s ease, box-shadow 0.1s ease;
  transition: color 0.1s ease, box-shadow 0.1s ease;
}

.content-editor a:hover, .content-editor a:focus {
  color: #005f8f;
  box-shadow: 0 1px 0 0 #005f8f;
}

.content-editor ul,
.content-editor ol {
  list-style: none;
  margin-top: 0;
}

.content-editor ul li,
.content-editor ol li {
  position: relative;
}

.content-editor ul li {
  padding-left: 1.25em;
}

.content-editor ul li:before {
  content: '\2022';
  position: absolute;
  left: 0.4375em;
}

.content-editor ol {
  counter-reset: num-list;
}

.content-editor ol li {
  padding-left: 2em;
}

.content-editor ol li:before {
  counter-increment: num-list;
  content: counter(num-list) ".";
  position: absolute;
  left: 0;
  width: 1.625em;
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
