html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a, .intro-more-button,
.intro-less-button {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, .intro-more-button:active,
.intro-less-button:active,
a:hover,
.intro-more-button:hover,
.intro-less-button:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

img[src*=svg] {
  width: 100%\9;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=svg] {
    width: 100%;
  }
}

.main-header, .main-footer, .intro, .outro, .project-intro, .project-details {
  width: 91.4666666667%;
  margin: 0 4.2666666667%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.625;
  color: #333333;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.slash-split {
  margin-right: -0.2em;
}

a, .intro-more-button,
.intro-less-button {
  color: #333333;
  text-decoration: none;
  box-shadow: inset 0 -0.0625em 0 0 #99cfeb;
  -webkit-transition: color 0.25s ease, box-shadow 0.25s ease;
  transition: color 0.25s ease, box-shadow 0.25s ease;
}

a:hover, .intro-more-button:hover,
.intro-less-button:hover, a:focus, .intro-more-button:focus,
.intro-less-button:focus {
  color: #333333;
  box-shadow: inset 0 -0.0625em 0 0 #0088cc;
  -webkit-transition: color 0.1s ease, box-shadow 0.1s ease;
  transition: color 0.1s ease, box-shadow 0.1s ease;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.main-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 100%;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
}

.main-header * {
  width: 100%;
  font-size: 0.9375rem;
  font-weight: 400;
}

.main-header-name {
  font-size: 1.125rem;
}

.main-footer {
  padding: 16px 0;
  font-size: 0.875rem;
  color: #adadad;
  background-color: transparent;
}

.connect {
  list-style: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  max-width: 800px;
}

.connect > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.connect > * > *:first-child:not(:last-child) ~ * {
  overflow: hidden;
}

@media screen and (min-width: 31.25em) {
  .connect > * > *:first-child:not(:last-child) {
    width: 70px;
    float: left;
  }
}

.connect-label {
  font-size: 0.9375em;
  line-height: 1.7333333333;
  color: #adadad;
}

@media screen and (max-width: 47.4375em) {
  .connect-label {
    display: none;
  }
}

@media screen and (min-width: 47.5em) {
  .connect-short-link {
    display: none;
  }
}

@media screen and (max-width: 47.4375em) {
  .connect-full-link {
    display: none;
  }
}

.intro {
  font-family: "Abril Fatface", serif;
  font-size: 2.25rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

@media (min-width: 23.4375em) and (max-width: 73.125em) {
  .intro {
    font-size: calc(2.25rem + (3.625 - 2.25) * (100vw - 23.4375rem) / (73.125 - 23.4375));
  }
}

@media (min-width: 73.125em) {
  .intro {
    font-size: 3.625rem;
  }
}

.intro section > * + * {
  margin-top: 0.6206896552em;
}

@media screen and (max-width: 73.0625em) {
  .intro {
    margin-top: 11.9658119658%;
    margin-bottom: 17.9487179487%;
  }
}

@media screen and (min-width: 73.125em) {
  .intro {
    margin-top: 140px;
    margin-bottom: 210px;
  }
}

.intro-excerpt,
.intro-less-button {
  display: none;
}

.intro-more-button,
.intro-less-button {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.outro {
  font-family: "Abril Fatface", serif;
  font-size: 2.25rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

@media (min-width: 23.4375em) and (max-width: 73.125em) {
  .outro {
    font-size: calc(2.25rem + (3.625 - 2.25) * (100vw - 23.4375rem) / (73.125 - 23.4375));
  }
}

@media (min-width: 73.125em) {
  .outro {
    font-size: 3.625rem;
  }
}

.outro section > * + * {
  margin-top: 0.6206896552em;
}

@media screen and (max-width: 73.0625em) {
  .outro {
    margin-top: 17.9487179487%;
    margin-bottom: 11.9658119658%;
  }
}

@media screen and (min-width: 73.125em) {
  .outro {
    margin-top: 210px;
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 73.0625em) {
  .project {
    margin-top: 10.2564102564%;
    margin-bottom: 13.6752136752%;
  }
}

@media screen and (min-width: 73.125em) {
  .project {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}

.project-intro {
  font-family: "Abril Fatface", serif;
  font-size: 2.25rem;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: -0.48em;
}

@media (min-width: 23.4375em) and (max-width: 73.125em) {
  .project-intro {
    font-size: calc(2.25rem + (3.625 - 2.25) * (100vw - 23.4375rem) / (73.125 - 23.4375));
  }
}

@media (min-width: 73.125em) {
  .project-intro {
    font-size: 3.625rem;
  }
}

.project-intro > * + * {
  margin-top: 0.6206896552em;
}

.project-overview {
  background-color: #f2f2f2;
}

@media screen and (max-width: 73.0625em) {
  .project-details {
    padding: 8.547008547% 0;
  }
}

@media screen and (min-width: 73.125em) {
  .project-details {
    padding: 100px 0;
  }
}

.project-detail {
  display: block;
  max-width: 1025px;
  line-height: 1.875;
}

.project-detail + .project-detail {
  margin-top: 0.3125em;
}

.project-detail > *:first-child:not(:last-child) ~ * {
  overflow: hidden;
}

@media screen and (min-width: 31.25em) {
  .project-detail > *:first-child:not(:last-child) {
    width: 100px;
    float: left;
  }
}

.project-detail > *:last-child:not(:first-child) {
  -webkit-columns: 350px 2;
  -moz-columns: 350px 2;
  columns: 350px 2;
  -webkit-column-gap: 3.4375em;
  -moz-column-gap: 3.4375em;
  column-gap: 3.4375em;
}

.project-detail-label {
  font-size: 0.9375em;
  line-height: 2;
  color: #adadad;
}

/*# sourceMappingURL=style.css.map */
