.additional-projects {

  .project-highlights {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: em(657px)) {
      & > [class*="project-highlight"] {

        & + [class*="project-highlight"] {
          margin-top: 40px;
        }
      }
    }
    @media screen and (min-width: em(658px)) and (max-width: em(986px)) {
      & > [class*="project-highlight"] {

        & + [class*="project-highlight"] {
          margin-top: #{((60/986)*100) * 1%};
        }
      }
    }
    @media screen and (max-width: em(986px)) {
      flex-direction: column;
    }
    @media screen and (min-width: em(987px)) {
      flex-direction: row;
    }
  }
}