.main-header {
  display: flex;
  flex: 1 0 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  @extend %block-inset;
  padding: 20px 0;

  * {
    width: 100%;
    font: {
      size: rem(15px);
      weight: 400;
    }
  }
}
.main-header-name {
  font-size: rem(18px);
}
