.project-lipari {

  .project-highlight-image-offset {
    padding-bottom: percent(1282px, 720px);
    margin-bottom: -#{percent(210px, 720px)};

    & > * {
      right: -#{percent(162px, 720px)};
      width: auto;
      max-width: none;
    }
  }

  @media screen and (min-width: em(461px)) and (max-width: em(1374px)) {
    margin: 0 #{((16/375)*100) * 1%} 0 auto;
  }
  @media screen and (max-width: em(460px)), (min-width: em(1375px)) {
    margin: 0 #{((16/375)*100) * 1%};
  }
}