// imported theme fonts
// @font-face font imports from sass/fonts
// ---------------------------------

// @import "../fonts/font-font-name";



// Theme brand colors
// ---------------------------------

$theme-black : #333333;
$theme-gray  : #EFEFEF;
$theme-blue  : #0088cc;


// Theme specific variables
// ---------------------------------

$body-background-color : white;

$wrapperWidth  : 1170; // px value


$font-main   : 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-accent : 'Abril Fatface', serif;


$font-base-color               : $theme-black;


$link-color                    : $font-base-color;
$link-interaction-color        : $link-color;
$link-interaction-border-color : $theme-blue;
$link-border-color             : mix(white, $link-interaction-border-color, 60%);


$label-color : mix(white, $theme-black, 60%);

$image-background-color : $label-color;


$project-overview-background-color : mix(white, $theme-gray, 20%);


$main-footer-font-color       : $label-color;
$main-footer-background-color : transparent;
