.outro {
  @extend %block-inset;
  font-family: $font-accent;
  @include fluid-text($font-min : 36px, $viewport-min : 375px, $font-max : 58px, $viewport-max : $wrapperWidth);
  letter-spacing: 0.02em;
  line-height: 1.2;

  & section > * + * {
    margin-top: em(36px, 58px);
  }

  @media screen and (max-width: em($wrapperWidth - 1px)) {
    margin: {
      top: percent(210px, $wrapperWidth);
      bottom: percent(140px, $wrapperWidth);
    }
  }
  @media screen and (min-width: em($wrapperWidth)) {
    margin: {
      top: 210px;
      bottom: 140px;
    }
  }
}