.project-mbp {
  margin: 0 #{((16/375)*100) * 1%};

  .project-highlight-image-offset {
    padding-bottom: percent(728.656px, 475px);
    margin-bottom: -#{percent(60px, 420px)};

    & > * {
      right: 0;
      width: auto;
      max-width: none;
    }
  }
}