.project-v-suites {

  .project-highlights {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.project-v-suites-laptop {
  @media screen and (max-width: em($wrapperWidth - 1px)) {
    margin-right: -#{percent(90px, $wrapperWidth)};
  }
  @media screen and (min-width: em($wrapperWidth)) {
    margin-right: -90px;
  }
}
.project-v-suites-mobile {
  @media screen and (max-width: em($wrapperWidth - 1px)) {
    margin-top: percent(60px, $wrapperWidth);
  }
  @media screen and (min-width: em($wrapperWidth)) {
    margin-top: 60px;
  }
}