// imported theme fonts
// @font-face font imports from sass/fonts
// ---------------------------------

// @import "../fonts/font-font-name";



// Theme brand colors
// ---------------------------------

$theme-black : #333333;
$theme-blue  : #0088cc;


// Theme specific variables
// ---------------------------------

$body-background-color : white;

$wrapperWidth  : 1170; // px value


$font-main   : 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-accent : 'Vidaloka', serif;


$font-base-color               : $theme-black;

$link-color                    : $font-base-color;
$link-interaction-color        : $link-color;
$link-border-color             : mix(white, $theme-blue, 60%);
$link-interaction-border-color : $theme-blue;


// $footer-background-color : transparent;
