// Component variables
$project-detail-width-min : 550;


.project {
  @media screen and (max-width: em($wrapperWidth - 1px)) {
    margin: {
      top: percent(120px, $wrapperWidth);
      bottom: percent(160px, $wrapperWidth);
    }
  }
  @media screen and (min-width: em($wrapperWidth)) {
    margin: {
      top: 140px;
      bottom: 140px;
    }
  }
}
.project-intro {
  @extend %block-inset;
  font-family: $font-accent;
  @include fluid-text($font-min : 36px, $viewport-min : 375px, $font-max : 58px, $viewport-max : $wrapperWidth);
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: -0.48em;

  & > * + * {
    margin-top: em(36px, 58px);
  }
}
.project-overview {
  background-color: $project-overview-background-color;
}
.project-details {
  @extend %block-inset;

  @media screen and (max-width: em(467px)) {
    padding: percent(100px, $wrapperWidth) 0 40px;
  }
  @media screen and (min-width: em(468px)) and (max-width: em($wrapperWidth - 1px)) {
    padding: percent(100px, $wrapperWidth) 0;
  }
  @media screen and (min-width: em($wrapperWidth)) {
    padding: 100px 0;
  }
}
.project-detail {
  display: block;
  max-width: 1025px;
  line-height: (30/16);

  & + & {
    margin-top: em(5px);
  }

  & > *:first-child:not(:last-child) {

    & ~ * {
      overflow: hidden;
    }

    @media screen and (min-width: em($project-detail-width-min)) {
      width: 110px;
      float: left;
      padding-right: 20px;
    }
  }
  & > *:last-child {
    columns: 355px 2;
    column-gap: em(55px, 16px);
  }
}
.project-detail-label {
  font-size: em(15px, 16px);
  line-height: (30/15);
  color: $label-color;
}


.project-highlights {
  width: 100%;
  margin: {
    right: auto;
    left: auto;
  }

  & > * {
    display: inline-block;
  }

  @media screen and (max-width: em($wrapperWidth - 1px)) {
    margin-top: percent(-50px, $wrapperWidth);
  }
  @media screen and (min-width: em($wrapperWidth)) {
    margin-top: -50px;
  }
}
.project-highlight-large {
  width: percent(1080px, $wrapperWidth);
  max-width: 1080px;
}
.project-highlight-medium {
  width: percent(720px, $wrapperWidth);
  max-width: 720px;
}
.project-highlight-small {
  width: percent(420px, $wrapperWidth);
  max-width: 420px;
}
.project-highlight-image {
  @extend %fluid-image;
}